:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}

/* * {
  outline: 1px solid tomato;
} */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Logo */

.header-logo {
  color: #000000;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.accent {
  color: var(--accent-color);
}

/* Navigation */

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .item + .item {
  margin-left: 50px;
}

.contact-list .link {
  color: var(--secondary-text-color);
}
.nav-icon {
  padding: 0;
  fill: currentColor;
  align-items: center;
  margin-right: 10px;
}

.nav-link {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

/* Hero */

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  color: var(--primary-white-color);

  text-align: center;
}

.hero-container {
  padding: 200px 250px;

  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: inherit;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Features */

.features-container {
  display: flex;
}

.features-container .thumb {
  display: flex;
  padding: 25px 100px;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-container .item {
  width: calc((100% - 90px) / 4);
}

.features-container .item + .item {
  margin-left: 30px;
}

.features-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin: 0;

  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.7;
}

/* Work */

.work-list {
  display: flex;
}

.work-list .item {
  position: relative;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work-image {
  display: block;
}
.work-descr {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* Team */

.team.section {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;

  text-align: center;
}

.team-list > .item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-image {
  display: block;
  margin-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.team-position {
  margin: 0;
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.2;
}
.social-list {
  display: flex;
  margin: 16px 32px 30px 32px;
}
.social-list .item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: block;
  padding: 12px;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link .icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Clients */

.clients .list {
  display: flex;
}
.clients .item:not(:last-child) {
  margin-right: 30px;
}
.clients .link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-logo {
  fill: currentColor;
}
.clients .link:hover,
.clients .link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--primary-background-color);
}

.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-container {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.address-list {
  font-style: normal;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link,
.contact-link {
  display: block;

  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.join {
  display: inline-block;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer .social-list {
  margin: 0;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-color);
}

.footer .join-icon {
  fill: var(--primary-white-color);
}

.form-container {
  margin-left: 95px;
}
.footer-form {
  display: flex;
}

.footer-field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.footer-input {
  padding: 15px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus-within {
  border-color: var(--accent-color);
}

.footer-btn {
  position: relative;
  display: block;
  cursor: pointer;

  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  text-align: start;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.footer-btn::after {
  content: '';

  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
}

/* Portfolio */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item + .item {
  margin-left: 8px;
}

.filter-btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .card {
  max-width: calc((100% - 60px) / 3);
  max-height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .card:hover,
.portfolio-list .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-descr {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);

  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .card:hover .portfolio-descr {
  transform: translateY(0);
}
.portfolio-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
}

.portfolio-text {
  margin: 0;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
}

.portfolio-image {
  display: block;
}

.card-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:focus,
.close-btn:hover {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.form-field:focus-within {
  color: var(--accent-color);
}

.form-field:focus-within .form-input {
  border-color: var(--accent-color);
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  padding: 0 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  padding: 12px 16px;
  resize: none;
  width: 448px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus-within {
  border-color: var(--accent-color);
}

.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.accept {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accept-icon {
  display: flex;
  justify-content: center;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: var(--primary-white-color);
}

.accept-link {
  color: var(--accent-color);
}

.checkbox:checked ~ .accept-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.accept-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.form-btn {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
